article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

input,
button,
select,
textarea {
    font-family: "PT Serif", serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "PT Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
  background-color: #ffffff;
}

ul {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
 a {
   text-decoration: none;
   color: #343434;
 }

.header-wrapper {
  margin: 0px auto;
  width: 100%;
  padding: 2em 0px 0px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.header-wrapper:before,
.header-wrapper:after {
    display: table;
    content: "";
    line-height: 0
}

.header-wrapper:after {
    clear: both
}

.site-name {
    display: inline;
    float: left;
    width: 83.33333%;
    margin-left: 8.33333%;
    margin-right: 8.33333%;
    margin-bottom: 1em;
    float: none;
    display: block;
    font-size: 1.5rem
}

@media only screen and (min-width: 59.375em) {
  .site-name {
    display: inline;
    float: left;
    width: 21.66667%;
    margin-left: 4.16667%;
    margin-right: 4.16667%;
    margin-bottom: 1em;
    font-size: 1rem;
  }
}

.top-navigation {
  display: inline;
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: 8.33333%;
  margin-bottom: 1em;
  float: none;
  display: block;
}

@media only screen and (min-width: 59.375em) {
    .top-navigation {
        display: inline;
        float: left;
        width: 70%;
        margin-top: 1em;
        margin-left: 0%;
        margin-right: 0%
    }
}

.top-navigation ul {
  max-height: 30em;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  clear: both;
  list-style-type: none;
}

.top-navigation li {
    display: block;
    list-style-type: none;
}

@media only screen and (min-width: 59.375em) {
  .top-navigation li {
    display: inline;
    margin-right: 25px;
    white-space: nowrap;
    border-bottom: 0 solid transparent;
  }
}

.top-navigation li a {
  display: block;
  padding: 5px 0;
  border-bottom: 0 solid transparent;
  transition: all 0.2s;
}

@media only screen and (min-width: 59.375em) {
  .top-navigation li a {
    display: inline;
    padding: 0;
  }
}

.nav-button {
  font-size: 1.125rem;
  font-weight: normal;
  background-color: #111;
  color: #fff;
  border: none;
  padding: .375rem .75rem;
  transition: .3s;
  cursor: pointer;
  border-radius: .21429rem
}

.nav-button:hover {
  opacity: 1
}
.nav-button:active {
  transition: 0
}

.nav-button .nav-lines {
    margin-right: 10px;
    margin-bottom: .3rem;
    display: inline-block;
    width: 1.5rem;
    height: .21429rem;
    background: #fff;
    border-radius: .10714rem;
    transition: .3s;
    position: relative
}

.nav-button .nav-lines:before,
.nav-button .nav-lines:after {
    display: inline-block;
    width: 1.5rem;
    height: .21429rem;
    background: #fff;
    border-radius: .10714rem;
    transition: .3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: .10714rem center;
    transform-origin: .10714rem center
}

.nav-button .nav-lines:before {
    top: .375rem
}

.nav-button .nav-lines:after {
    top: -.375rem
}

@media only screen and (min-width: 59.375em) {
  .nav-button {
      display: none
  }
}

.top-navigation ul {
  max-height: 0;
  overflow: hidden;
}

@media only screen and (min-width: 59.375em) {
  .top-navigation ul {
      max-height: 30em;
  }
}
